In [1]:
import pandas as pd
data=pd.read_excel('C:/Users/USER/Documents/Oldies/HDSC Internship/Introduction to Python/FoodBalanceSheets_E_Africa_NOFLAG.xlsx')

In [3]:
Item=data.groupby('Item')
Wine=Item.get_group('Wine')

In [5]:
Wine[['Y2015','Y2018']].sum()

Y2015    4251.81
Y2018    4039.32
dtype: float64

In [7]:
ele=data.groupby('Element')
protein=ele.get_group('Protein supply quantity (g/capita/day)')

In [9]:
mad=protein.groupby('Area')
mad=mad.get_group('Madagascar')
mad['Y2015'].sum()

173.04999999999998

In [13]:
process=ele.get_group('Processing')
process['Y2017'].sum()

292836.0

In [21]:
Area_17=data[['Area','Y2017']]
Area_17=Area_17.groupby('Area').sum()
Area_17

                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
Côte d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34

In [30]:
Area_17.sort_values('Y2017')

                                  Y2017
Area
Sudan (former)                     0.00
Ethiopia PDR                       0.00
Comoros                           59.84
Seychelles                       442.34
Sao Tome and Principe          12662.63
Cabo Verde                     14650.74
Guinea-Bissau                  19102.77
Lesotho                        21267.96
Botswana                       22101.30
Djibouti                       22729.91
Gambia                         23154.18
Gabon                          27979.64
Liberia                        29342.20
Namibia                        29874.89
Central African Republic       29937.00
Congo                          41181.68
Togo                           49841.88
Mauritius                      51114.83
Eswatini                       54343.33
Sierra Leone                   55311.33
Chad                           71594.68
Rwanda                         73663.69
Zimbabwe                       75919.34
Senegal                        95681.15
Guinea                         98138.87
Burkina Faso                  101855.07
Zambia                        103223.77
Tunisia                       124167.20
Benin                         124771.22
Niger                         126707.58
Madagascar                    131197.73
Mali                          149928.33
Mauritania                    156665.46
Mozambique                    161407.98
Malawi                        181098.71
Uganda                        213950.38
Côte d'Ivoire                 224599.01
Angola                        229159.57
Cameroon                      232030.43
Sudan                         239931.92
Kenya                         264660.66
United Republic of Tanzania   322616.85
Algeria                       325644.27
Ghana                         337599.06
Morocco                       388495.36
Ethiopia                      448683.76
South Africa                  517590.54
Egypt                         866379.92
Nigeria                      1483268.23

In [25]:
len(data['Area'].unique())

49

In [27]:
stock=ele.get_group('Stock Variation')
stock[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
dtype: float64

In [31]:
data[[ 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].describe()

,Y2014,Y2015,Y2016,Y2017,Y2018
count,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.196282,135.235966,136.555222,140.917765,143.758381
std,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.090000,0.080000,0.080000,0.100000,0.070000
75%,8.340000,8.460000,8.430000,9.000000,9.000000
max,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [32]:
data.corr()

C:\Users\USER\AppData\Local\Temp\ipykernel_7184\2627137660.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000